@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Montserrat+Alternates&family=Roboto+Slab&display=swap');

:root {
    --primary: #91d2dc;
    --secondary: #5c0967;
    --accent1: #79c2d0;
    --accent2: #154a52;
    --white: white;
}

body {
    font-family: 'Roboto Slab', 'Calistoga', sans-serif;
    background-color: var(--primary);
    color: var(--white);
}

h1 {
    font-family: 'Roboto Slab';
}

h2 {
    font-family: 'Calistoga';
}

h3 {
    font-family: sans-serif;
}

h1, h2, h3 {
    text-align: center;
    font-size: 2rem;
    background-color: var(--accent2);
    padding: 20px;
    border: 1rem ridge;
}

p {
    text-align: center;
    color: var(--secondary);
    font-weight: 200px;
    border: 5px solid white;
    border-radius: 25px;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
}
