@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Montserrat+Alternates&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
	background-color: #bbb;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

header, main {
	margin:0;
    margin-left: 300px;
    margin-right: 300px;
    padding: 50px;
}

h1 {
	font-size: 2rem;
}

nav {
	background-color: #0d3a58;
	margin: 0 auto;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    padding: 50px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a {
	display: inline-block;
    color: #fff;
	padding: 1rem;
    flex: 1 1 100%;
}

nav a:hover {
	border: 1px solid #fff;border: 1px solid white;
    background-color: rgb(75, 51, 51);
    color: white;
    
}

main {
    margin-left: 600px;
}


.card {
    display: inline-block;
    border: 2px solid black;
    max-width: 600px;
    padding: 1em;
}

main a:hover {
    text-decoration: underline;
}

.card h3 {
    font-size: 20px;
    text-align: center;
    background-color: #0d3a58;
    color: white;
    padding: 15px;
}

#menu {
    display: none;
}